mark.red {
	color:#ff0000;
	background: none;
}

mark.green {
	color:#228B22;
	background: none;
}

mark.cyan {
	color:#008b8b;
	background: none;
}

mark.purple {
	color:#800080;
	background: none;
}

mark.orange {
	color:#FF8C00;
	background: none;
}